<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="shop.mapper.ProductMapper">
    <insert id="insert" parameterType="Product">
        INSERT INTO product
            ( prodcode
            , prodname
            , price
            , quantity)
        VALUES 
            ( #{prodCode}
             ,#{prodName}
             ,#{price}
             ,#{quantity} )
    </insert>
    
    <select id="selectOne" parameterType="Product"
                           resultType="Product">
      SELECT p.prodcode
           , p.prodname
           , p.price   
           , p.quantity
        FROM product p 
       WHERE p.prodcode = #{prodCode}
    </select>
    
    <update id="update" parameterType="Product">
      UPDATE product p     
         SET p.prodname = #{prodName}
           , p.price    = #{price}
           , p.quantity = #{quantity}
           , p.moddate  = sysdate
       WHERE p.prodcode = #{prodCode}
    </update>
    
    <delete id="delete" parameterType="Product">
        DELETE product p
       <if test="prodCode != null">
         WHERE p.prodcode = #{prodCode}
       </if>
    </delete>
    
    <select id="selectAll" resultType="Product">
        SELECT p.prodcode
             , p.prodname
             , p.price   
             , p.quantity
          FROM product p 
    </select>
    
    <select id="isExists" parameterType="Product" 
                          resultType="string">
        SELECT p.prodcode   
          FROM product p    
         WHERE p.prodcode = #{prodCode}
    </select>
    
</mapper>  









