<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <!-- 콘솔 출력 -->
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    
    <!-- 파일 출력 -->
    <File name="bookLogFile" fileName="book.log">
      <PatternLayout>
        <Pattern>%d %p %c{.1} [%t] %m%n</Pattern>
      </PatternLayout>
    </File>
  </Appenders>
  
  <Loggers>
    <!-- 로거의 name 속성에는 매퍼 xml 의 namespace 를 써준다. -->
    <!-- 로거의 level 속성에는 TRACE 로 작성 : 
         TRACE 로 작성하면 DQL 실행시 결과셋을 추적해준다.  
         DEBUG 로 작성하면 SQL 구문을 추적해준다.              -->
    <Logger name="book.mapper.BookMapper"
            level="TRACE" additivity="false" >
      <AppenderRef ref="Console"/>
      <AppenderRef ref="bookLogFile"/>
    </Logger>
    
    <Root level="DEBUG">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="bookLogFile"/>
    </Root>
  </Loggers>
</Configuration>









